<div class="dash-left">
    <ul>
        <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
        <li><a href="/admin/blog">Blogs</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div> 