<%- include('../front/header.ejs') %>

  <section class="cmspage mtb-40">
    <div class="container">
      <h1 class="text-center about_heading"><span style="color: #386576;">ABOUT US</span></h1>
      <div class="row">
        <div class="col-md-8">
          <p style="color:rgb(129, 183, 183);">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
            dignissimos eligendi labore repellat tempora aspernatur accusamus quas totam nihil debitis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quis perferendis laborum id ducimus commodi
            nostrum facere natus blanditiis asperiores?
          </p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim dolorum assumenda at delectus aperiam
            consequatur tempore natus excepturi ducimus mollitia!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quisquam repellat recusandae dolore est
            quibusdam, magnam iure! Ut, nobis voluptates.
          </p>
          <a href="" class="btn readmorebtn">Read More</a>
        </div>
        <div class="col-md-4 text-center">
          <img src="assets/images/Himanshu.jpg" alt="" height="300px">
        </div>
      </div>
    </div>

    <!-- <div class="container mt-5">
      <div class="content text-center">
        <h1 class="about_heading">
          <span class="pb-1" style="color:#386576;">For bloggers, by bloggers</span>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste possimus, nihil
          excepturi expedita assumenda nisi sed, praesentium ratione distinctio eaque facilis magni.
          Distinctio aliquid dolorum minima ab, delectus magni. Praesentium.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, dolorem.
        </p>
      </div>
      <div class="row">
        <div class="col-md-3 card-body">
          <div class="card text-center">
            <img src="assets/images/Himanshu.jpg" alt="" height="250px">
            <h6 class="mt-3">Himanshu sahu</h6>
            <p>Technical Engineer
              <br>MITS, Gwalior</p>
          </div>
        </div>
        <div class="col-md-3 card-body">
          <div class="card text-center">
            <img src="assets/images/Himanshu.jpg" alt="" height="250px">
            <h6 class="mt-3">Himanshu sahu</h6>
            <p>Technical Engineer
              <br>MITS, Gwalior</p>
          </div>
        </div>
        <div class="col-md-3 card-body">
          <div class="card text-center">
            <img src="assets/images/Himanshu.jpg" alt="" height="250px">
            <h6 class="mt-3">Himanshu sahu</h6>
            <p>Technical Engineer
              <br>MITS, Gwalior</p>
          </div>
        </div>
        <div class="col-md-3 card-body">
          <div class="card text-center">
            <img src="assets/images/Himanshu.jpg" alt="" height="250px">
            <h6 class="mt-3">Himanshu sahu</h6>
            <p>Technical Engineer
              <br>MITS, Gwalior</p>
          </div>
        </div>
      </div>
    </div> -->
  </section>

  <%- include('../front/footer.ejs') %>